extends site_layout

block subheader
  #sub-header
    .container
      .row
        .span2
          a(href='/artistic-visions')
            .prod.active
              img(src='images/artistic.png', role='presentation')
              p.label Artistic Visions
        .span2
          a(rhef='#')
            .prod
              img(src='images/survivor.png', role='presentation')
              p.label Survivor Stories

block nav-av
  a.active(href='/artistic-visions') Audio & Video