extends prod_layout

block append styles
  link(href='stylesheets/heroes/heroes.css', rel='stylesheet')
  link(href='stylesheets/timeline/highslide.css', rel='stylesheet')

block append scripts
  script(src='javascripts/underscore.js')
  script(src='javascripts/backbone.js')
  script(src='javascripts/heroes/flipcard.js')
  script(src='javascripts/timeline/highslide-full.min.js')
  script(src='javascripts/heroes/app.js')

block subnav-heroes
  .prod.active
    img(src='images/hero.png', role='presentation')
    p.label Heroes & Villains
                
block content
  #app
    h2 Heroes and Villains
    a#fullscreenmode(href='#') (Full Screen)
    #flipcard-toolbar
    .content
      #flipcard-wrapper
  
  #modalbackdrop


block templates

  script#detail-view-template(type='javascript/template').
    <h2> <%= title %></h2>
    <p> <%= date %> </p>
    <p> <%= description %> </p>
    <p> <%= heroQuote %> </p>
    <p> <%= villainQuote %> </p> 

  script#card-view-template(type='javascript/template').
     <div class="front" tabindex='0'>
        <img src="<%= imageURL %>"/>
        <div class="caption">
          <p class="name"><strong><%= title %></strong></p>
        </div> 
      </div>
      <div class="back">
          <p>quote</p>
          <a href='#' id='<%= id %>' class='personInfo' name='<%= title %>' onclick='window.event.stopPropagation(); console.log(this); return hs.htmlExpand(this)'>More info</a>
             <div class="highslide-maincontent">
              <img src='<%= imageURL %>' alt='A picture of <%= title %>'/> 
              <p title="Press Escape to Return to Heroes and Villains." aria-labelledby='<%= id %>'>
               <%= description %>
              </p>
          </div>
      </div>

  script#toolbar-template(type='javascript/template').
    <input type='text' id='flipcard-search' placeholder='Search Names' title='Search for people by name.'>
     <div class="btn-group" data-toggle="buttons-radio">
         <fieldset title='Sort persons'>
      <button class="btn browser-sort" data-sort-field='title'> Name </button>
      <button class="btn browser-sort" data-sort-field='date' title='Sort people by date'> Dates </button>
          </fieldset>     
    </div>

        <span class='button-label' id='filterBy' role='presentation'>Sort: </span>

    <div class="btn-group" data-toggle="buttons-radio">
      <fieldset title='Filter persons'>
      <button class="btn browser-filter active" data-filter-category='all'> All </button>
      <button class="btn browser-filter" data-filter-category='politician' > Politicans </button>
      <button class="btn browser-filter" data-filter-category='scientist'> Scientists </button>
      </fieldset>
    </div>
        <span class='button-label' id='filterBy' role='presentation'>Filter: </span>