extends prod_layout

block subnav-institutions
  .prod.active
    img(src='images/institutions.png', role='presentation')
    p.label Institutions

block content
  #app.row
    .span3
      h2 Institutions