extends site_layout

block subheader
  #sub-header
    .container
      .row
        .span2
          a(href='/timeline')
            .prod
              img(src='images/whatis.png', role='presentation')
              p.label What is Eugenics?
         .span2
          a(href='/heroes')
            .prod.active
              img(src='images/hero.png', role='presentation')
              p.label Heroes & Villains
        .span2
          a(href='/timeline')
            .prod
              img(src='images/timeline.png', role='presentation')
              p.label Timeline of Eugenics
        .span2
          a(href='#')
            .prod
              img(src='images/mindmap.png', role='presentation')
              p.label Eugenics Mind Map
        .span2
          a(href='#')
            .prod
              img(src='images/institutions.png', role='presentation')
              p.label Institutions
        .span2
          a(href='#')
            .prod
              img(src='images/archive.png', role='presentation')
              p.label Exploring Archives