extends layout

block append styles 
    link(href='stylesheets/timeline/timeline.css', rel='stylesheet')
    link(href='stylesheets/timeline/highslide.css', rel='stylesheet')

block append scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/underscore.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    script(src='javascripts/timeline/highslide-full.min.js')
    script(src='javascripts/timeline/timeline.js')
    script(src='javascripts/timeline/highslide_custom.js')
    script(src='javascripts/timeline/timeline_custom.js')
    script(src='javascripts/timeline/video.js')

block content
  .row
    .span4
      h2 Eugenics Timeline
    .span8#timeline-header
      fieldset(title='for the timeline-date-range')
        label(for='startDate')
        input#startDate(type='text', name='startDate')
        label(for='endDate')
        input#endDate(type='text, name='endDate')
        button#setStartDate.btn(onclick='setTime();') Set Visible Dates
  .row
    .span12#mytimelinewrapper(role='navigation')
      a.leftarrow(href='javascript:void(0)', title='Move Backwards in Time', onClick='moveTimeline(-0.2);')
      a.rightarrow(href='javascript:void(0)', title='Move Forward in Time', onClick='moveTimeline(0.2);')

      #mytimeline

      #slider(role='slider')
        #slider-range
          
  block templates   
    script(type='text/template', id='timeline-text').
      <a href="javascript:void(0);" title="Click to display additional information in Pop-up." name="<%= name %>" onclick="return hs.htmlExpand(this)">
          <span class="name"><%= name %></span>
      </a>
      <div class="highslide-maincontent">
          <p title="Press Escape to Return to Timeline.">
          <strong><%= startDate %> : </strong>
          <%= description %>
          </p>
      </div>
      
    script(type='text/template', id='timeline-image').
      <a href="<%= image %>" title="Click to display additional information in Pop-up." class="highslide" onclick="return hs.expand(this)">
          <img src="<%= imageThumb %>" alt="<%= name %>">
      </a>
      <div class="highslide-caption">
          <p title="Press Escape to Return to Timeline.">
              <strong><%= startDate %> : </strong>
              <%=description%>
          </p>
      </div>

    script(type='text/template', id='timeline-video').
      <div class="vidwrapper" m4v="<%= m4v %>" webm="<%= webm %>">
             <img src="<%= imageThumb %>" alt="Click to Play Video"> 
             <div class="vidplay"></div>
       </div>   