extends layout

block append styles
  link(href='stylesheets/hero.css', rel='stylesheet')
  link(href='stylesheets/whatis.css', rel='stylesheet')

block content
  .arrow-right.one
  h2 What is Eugenics?
  //- ul.prod-nav
  //-   li
  //-     a.current(href='#') Introduction
  //-   li.divider |
  //-   li
  //-     a(href='#') Social Origins
  //-   li.divider |
  //-   li
  //-     a(href='#') Disability and Eugenics
  //-   li.divider |
  //-   li
  //-     a(href='#') Science
  //-   li.divider |
  //-   li
  //-     a(href='#') Types of Eugenics
  .notebook
    a(href='#')
      .polaroid
        .tape
        img(src='/images/heroes/tommy-hero.jpeg')
        p What is Eugenics?
      .polaroid
        .tape
        img(src='/images/heroes/tommy-hero.jpeg')
        p What is Eugenics?
      .polaroid
        .tape
        img(src='/images/heroes/tommy-hero.jpeg')
        p What is Eugenics?
      .polaroid
        .tape
        img(src='/images/heroes/tommy-hero.jpeg')
        p What is Eugenics?
