#flipcard-toolbar {
  height: 30px;
  padding-bottom: 8px;
}
#flipcard-search {
  float: right;
  margin: 6px;
}
.toolbar {
  float: right;
}
.cards {
  position: relative;
}
.card {
  position: absolute;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  cursor: pointer;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  -ms-transition: all;
  transition: all;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 10px;
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 1000;
}
.card.minimize {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: scale3d(0.001, 0.001, 1);
  -moz-transform: scale3d(0.001, 0.001, 1);
  -o-transform: scale3d(0.001, 0.001, 1);
  -ms-transform: scale3d(0.001, 0.001, 1);
  transform: scale3d(0.001, 0.001, 1);
  z-index: 1;
  pointer-events: none;
}
.card img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
p.name {
  margin: 10px 0px 0px 0px;
}
