@import 'nib'
@import 'variables'

$cardWidth = 150px
$cardHeight = 170px
$cardPadding = 10px
$cardFrontWidth = $cardWidth 
$cardFrontHeight = $cardHeight 
$wrapperWidth = 485px
$detailWidth =  890px - $wrapperWidth

#flipcard-toolbar
  // toolbarGradient()
  // box-shadow inset 0px -1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0,0,0,.10)
  height 30px
  padding-bottom 8px

#flipcard-search
  margin 5px
  float right
  border 1px solid #bbb

#flipcard-detail
  padding 10px

div.toolbar
  float right