button.btn {
  font-size: 11px;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  margin-left: 0px;
  height: 24px;
  float: left;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bbb;
  -webkit-background-size: 1px 40px;
  -moz-background-size: 1px 40px;
  background-size: 1px 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(1, #cbcbcb));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  color: #444;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  -ms-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
button.btn:hover {
  background-position: 15px;
}
div.btn-group {
  padding: 0px;
  display: inline-block;
  margin: 5px;
  float: right;
}
div.btn-group button.btn {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
  margin-left: -1px;
}
div.btn-group button.active {
  -webkit-box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.15);
  color: rgba(0,0,0,0.6);
}
div.btn-group:after {
  clear: both;
}
div.btn-group button.btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0px;
}
fieldset > .btn:last-child,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
input {
  width: 150px;
  padding: 4px;
  border: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 6px;
}
div.btn-group input {
  margin: 0px;
}
span.button-label {
  float: right;
  padding: 9px 2px 9px 2px;
  display: inline-block;
}
fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
legend {
  display: inline;
  max-width: 15px;
}
#header p {
  margin: 4px;
}
#header a.logo {
  background-image: url("/laelogo2.png");
  height: 41px;
  width: 270px;
  float: right;
  margin: 0px;
}
#header ul.nav.active,
#header .active,
#header .active,
#header .active,
#header .active,
#header .active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a9a89d), color-stop(1, #b9b9b1));
  background-image: -webkit-linear-gradient(top, #a9a89d 0%, #b9b9b1 100%);
  background-image: -moz-linear-gradient(top, #a9a89d 0%, #b9b9b1 100%);
  background-image: -o-linear-gradient(top, #a9a89d 0%, #b9b9b1 100%);
  background-image: -ms-linear-gradient(top, #a9a89d 0%, #b9b9b1 100%);
  background-image: linear-gradient(top, #a9a89d 0%, #b9b9b1 100%);
  pointer-events: none;
  cursor: default;
}
#header ul.nav.active li:hover,
#header .active li:hover,
#header .active li:hover,
#header .active li:hover,
#header .active li:hover,
#header .active li:hover {
  background: #eee;
  text-decoration: none;
}
img.logo {
  display: block;
  margin-top: 6px;
  float: right;
  height: 25px;
}
#sub-header {
  background-image: url("/extra_backgrounds/noisy_grid_light.png");
  border-bottom: 1px solid #bbb;
}
#sub-header div.prod {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.17s linear;
  -moz-transition: -webkit-transform 0.17s linear;
  -o-transition: -webkit-transform 0.17s linear;
  -ms-transition: -webkit-transform 0.17s linear;
  transition: -webkit-transform 0.17s linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 7px;
  background: rgba(255,255,255,0.8);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#sub-header div.prod:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#sub-header div.prod.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#sub-header div.prod img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#sub-header div.prod p.label {
  margin: 2px;
  padding-top: 4px;
  font: 700 11px "HelveticaNeue-Light";
  color: #666;
}
/**
 * Primary styles
 */
body {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("/shattered.png");
  margin: 0;
  padding-top: 40px;
  padding-bottom: 75px;
  height: 100%;
}
a {
  color: #41295a;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a#fullscreenmode {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}
p {
  color: #444;
}
h1 {
  color: #020d81;
  display: block;
  margin-top: 30px;
  font: 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h2 {
  color: #41295a;
  display: inline-block;
  font: 300 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
}
h3 {
  color: #41295a;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
#main {
  border-top: 1px solid #fff;
}
#app {
  padding-top: 20px;
}
#app.fullscreen {
  position: fixed;
  margin-top: 0px;
  top: 0;
  height: 100%;
  right: 0px;
  bottom: 0;
  left: 40px;
  z-index: 1200;
}
.content {
  position: relative;
}
#modalbackdrop {
  display: none;
}
#modalbackdrop.open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #dbdcdd;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
/**
 * Utility Classes
 */
.center {
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
.highlight {
  background: #007d7f;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
}
input.short {
  width: 100px;
}
