button.btn {
  font-size: 11px;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  margin-left: 0px;
  height: 24px;
  float: left;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bbb;
  -webkit-background-size: 1px 40px;
  -moz-background-size: 1px 40px;
  background-size: 1px 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(1, #cbcbcb));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  background: linear-gradient(top, #f3f3f3 0%, #cbcbcb 100%);
  color: #444;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  -ms-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
button.btn:hover {
  background-position: 15px;
}
div.btn-group {
  padding: 0px;
  display: inline-block;
  margin: 5px;
  float: right;
}
div.btn-group button.btn {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
  margin-left: -1px;
}
div.btn-group button.active {
  -webkit-box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.15);
  color: rgba(0,0,0,0.6);
}
div.btn-group:after {
  clear: both;
}
div.btn-group button.btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
input {
  width: 170px;
  padding: 4px;
  border: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 6px;
}
div.btn-group input {
  margin: 0px;
}
body {
  font: 12px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/background1.png");
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
}
a {
  color: #41295a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  color: #444;
}
hr {
  width: 100%;
  margin: 30px 0px 20px 0px;
}
h1,
a.brand {
  color: #020d81;
  display: block;
  margin-top: 30px;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  color: #41295a;
  font: 100 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
}
h3 {
  color: #41295a;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
ul li {
  display: inline;
}
.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0px;
  background: rgba(0,0,0,0.3);
}
#sub-header {
  background-image: url("/shattered.png");
  border-bottom: 1px solid rgba(255,255,255,0.7);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 -1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 -1px 1px rgba(0,0,0,0.1);
}
#sub-header ul {
  margin: 0px;
}
#header {
  text-align: center;
  padding-top: 0px;
}
#header-fixed {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.4);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.4);
  border-bottom: 1px solid #bbb;
}
#header-fixed ul.nav {
  float: right;
  margin: 70px 0px 20px 12px;
}
#header-fixed a.brand {
  margin-top: 16px;
  color: #41295a;
  display: block;
  float: left;
  font: 900 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav {
  margin: 40px 0px 20px 0px;
}
.nav li {
  padding: 0px 18px 0px 18px;
}
.nav li:last-child {
  padding: 0px 0px 0px 12px;
}
.divider-veritical {
  color: #ddd;
}
.nav a {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  color: #555;
  font-weight: 500;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 7px 5px 7px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
}
.nav a:hover {
  background: #eee;
  text-decoration: none;
}
#slider {
  background: #fff;
}
#slider img {
  float: left;
}
#slider h3 {
  margin-top: 30px;
}
#main {
  margin-top: 25px;
}
#main .content {
  background: #f5f5f5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f5f5f5;
}
.arrow-right.one {
  position: absolute;
  top: 140px;
  right: -10px;
}
.arrow-right.two {
  position: absolute;
  top: 240px;
  right: -10px;
}
.arrow-right.three {
  position: absolute;
  top: 370px;
  right: -10px;
}
#prod-objects {
  margin-top: 20px;
}
.prod,
.prod img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.prod {
  -webkit-transform: scale(0.85);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.17s linear;
  -webkit-backface-visibility: hidden;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 7px;
  background: rgba(255,255,255,0.7);
}
.prod:hover {
  -webkit-transform: scale(1);
}
.prod.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.prod.active img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.prod img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  max-width: 100%;
}
.prod img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.tools {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 134px;
  margin-bottom: 15px;
}
ul.toollist {
  margin: 2px 0px 2px 0px;
}
ul.toollist li {
  display: block;
  margin: 0;
  padding: 3px;
  width: 100%;
  text-align: left;
}
ul.toollist li:hover {
  background: rgba(0,0,0,0.1);
}
ul.toollist li a {
  display: inline-block;
  margin-left: 5px;
}
.label {
  margin: 2px;
  padding-top: 4px;
  font: 700 11px "HelveticaNeue-Light";
  color: #666;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
ul.prod-nav {
  text-align: left;
  margin-top: 10px;
}
ul.prod-nav li {
  padding: 5px;
}
ul.prod-nav a {
  text-shadow: none;
  display: inline-block;
  padding: 1px 5px 1px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
ul.prod-nav a:hover {
  background: #ddd;
  text-decoration: none;
}
ul.prod-nav a.current {
  cursor: default;
  background: #ddd;
}
ul.prod-nav a.current:hover {
  text-decoration: none;
}
ul.prod-nav li:first-child {
  padding-left: 0px;
}
a.active {
  background: #b9cdcb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
  cursor: default;
}
.image {
  margin-top: 12px;
  padding: 5px;
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.image img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
img.logo {
  margin: 15px;
  margin-left: 0px;
}
