@import 'variables'
@import 'nib'
@import 'buttons'
@import 'navigation'

/**
 * Primary styles
 */

body
  font: $baseFontSize $headingFont
  background-image url('/shattered.png')
  margin 0
  padding-top 40px
  padding-bottom 75px

a
  color: $blue
  cursor pointer
  text-decoration: none
  &:hover
    text-decoration: underline

p
  color: $blackLighter

h1
  color #020D81
  display block
  margin-top 30px
  font: 60px $headingFont
  font-weight 100

h2
  color: $blue
  font: 100 25px $headingFont
  margin 0px

h3
  color: $blue
  font: $baseFontSize $headingFont
  font-weight: 600

ul
  list-style-type none
  padding-left 0px

ul li
  display inline

#main
  border-top 1px solid white

#app
  margin-top 20px

.content
  position relative

/**
 * Utility Classes
 */

.center
  margin-left auto
  margin-right auto

.pull-left
  text-align left

.pull-right
  text-align right

.highlight
  background #007D7F
  color white
  border-radius 3px
  padding 2px 4px