$blue = #41295A
$green = #85803D
$brown = #CCCBBB
$brownLighter = #E6E5D7
$blackLighter = #444444

$sansFontFamily = "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif
$headingFont = "Helvetica Neue", Helvetica, Arial, sans-serif
$baseFontSize = 12px
$borderRadius = 4px

// Gradient Functions
toolbarGradient()
  background linear-gradient(top, #F9F9F9, #EDECF0)