#flipcard-toolbar {
  height: 30px;
  padding-bottom: 8px;
}
#flipcard-search {
  margin: 5px;
  float: right;
  border: 1px solid #bbb;
}
#flipcard-detail {
  padding: 10px;
}
div.toolbar {
  float: right;
}

.cards {
position:relative
}

.card {
float:left;
width:200px;
height:220px;
cursor:pointer;
-webkit-perspective:600px;
-moz-perspective:600px;
-ms-perspective:600px;
perspective:600px;
-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);
-moz-transform:translate3d(0,0,0) scale3d(1,1,1);
-o-transform:translate3d(0,0,0) scale3d(1,1,1);
-ms-transform:translate3d(0,0,0) scale3d(1,1,1);
transform:translate3d(0,0,0) scale3d(1,1,1);
-webkit-transition-property:transform,opacity,top,left;
-moz-transition-property:transform,opacity,top,left;
-o-transition-property:transform,opacity,top,left;
-ms-transition-property:transform,opacity,top,left;
transition-property:transform,opacity,top,left;
-webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
-o-transform-style:preserve-3d;
-ms-transform-style:preserve-3d;
transform-style:preserve-3d;
-webkit-transition-duration:.5s;
-moz-transition-duration:.5s;
-o-transition-duration:.5s;
-ms-transition-duration:.5s;
transition-duration:.5s;
position:absolute;
opacity:1;
-ms-filter:none;
filter:none;
z-index:1000
}

.card .front,.card .back {
  border-radius: 4px; 
background:#fff;
background: rgba(255,255,255,0.6);
width:170px;
height:280px;
cursor:pointer;
float:none;
position:absolute;
top:0;
left:0;
padding:10px;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
-o-transform-style:preserve-3d;
-ms-transform-style:preserve-3d;
transform-style:preserve-3d;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.card .front {
-webkit-transform:rotateY(0);
-moz-transform:rotateY(0);
-o-transform:rotateY(0);
-ms-transform:rotateY(0);
transform:rotateY(0)
}

.card .back {
-webkit-transform:rotateY(-180deg);
-moz-transform:rotateY(-180deg);
-o-transform:rotateY(-180deg);
-ms-transform:rotateY(-180deg);
transform:rotateY(-180deg);
background:#fff
}

.card.flip .front {
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-o-transform:rotateY(180deg);
-ms-transform:rotateY(180deg);
transform:rotateY(180deg)
}

.card.flip .back {
-webkit-transform:rotateY(0);
-moz-transform:rotateY(0);
-o-transform:rotateY(0);
-ms-transform:rotateY(0);
transform:rotateY(0)
}

.card img {
float:left;
max-height:2005px;
border-radius: 4px;
}

.caption {
float: left;
width:100%;
text-align:left
}

.caption p {
margin: 10px 0px 0px 0px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.hide {
opacity:0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:alpha(opacity=0);
-webkit-transform:scale3d(.001,.001,1);
-moz-transform:scale3d(.001,.001,1);
-o-transform:scale3d(.001,.001,1);
-ms-transform:scale3d(.001,.001,1);
transform:scale3d(.001,.001,1);
z-index:1;
pointer-events:none
}
